/* Basic styling */
body {
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}

.view-container {
    width: 50%;
    height: 50%;
}

webview {
    width: auto;
    height: auto;
    display: block;
}