/* Basic styling */
body {
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}

#views {
    position: absolute;
    left: 32px;
    bottom: 0;
    top: 0;
    right: 0;
}

#leftBar {
    position: absolute;
    width: 32px;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: aqua;
    height: 100%;
}

#leftBar > .buttonElement {
    background-color: blue;
    height: 32px;
    color: white;
    line-height: 32px;
    text-align: center;
}

.view {
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
}



.view > .viewParent {
    position: relative;
    height:100%;
    width: 100%;
}

.view > .viewParent.isBeingDragged {
    position: absolute;
    opacity:0.5;
}

.view > .viewParent > .viewContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: top 0.10s ease-out;
}

.view > .viewParent > .viewContainer > .webview {
    height:100%;
    width:100%;
    position: relative;
}

.view > .viewParent > .viewControls {
    position: relative;
    top: -30px;
    height:30px;
    width: 100%;
    background-color: rgba(239, 239, 239, 1);
    transition: top 0.10s ease-out;
}

.view > .viewParent > .viewControls > .buttonsGroup.left {
    float: left;
}

.view > .viewParent > .viewControls > .buttonsGroup.right {
    float: right;
}

.view > .viewParent > .viewControls > .buttonsGroup .button {
    display: inline-block;
}
.view > .viewParent > .viewControls > .buttonsGroup .handle {
    cursor: move;
    display: inline-block;
}

.view > .viewParent > .viewControls > .buttonsGroup .searchBar {
    display: inline-block;
}
